{{- with .Get "path" }}
  {{- $alt := or ($.Get "alt") "" -}}
  <figure>
  {{- with $.Get "width" }}
    {{- with $r := $.Page.Resources.Get ($.Get "path") }}
      {{- with $r.Process (printf "resize %dx wepb" ($.Get "width" )) }}
        <a href="{{ ($.Get "path") }}" target="_blank" rel="noreferrer noopener"><img src="{{ .RelPermalink }}" alt="{{ $alt }}"/></a>
      {{- end }}
    {{- else }}
      {{- warnf "The %q shortcode was unable to find %s: see %s" $.Name ($.Get "path") $.Position }}
    {{- end }}
  {{- else }}
      <a href="{{ ($.Get "path") }}" target="_blank" rel="noreferrer noopener"><img src="{{ $.Get "path" }}" alt="{{ $alt }}"/></a>
  {{- end -}}

  {{- with $.Get "caption" }}
    <figcaption>{{ $.Get "caption" }}</figcaption>
  {{- end -}}
  </figure>
{{- else }}
  {{- errorf "The %q shortcode requires a 'path' argument: see %s" .Name .Position }}
{{- end -}}