{{- with .Get "src" }}
  <figure>
  {{- $controls := "" -}}
  {{- if eq ($.Get "controls") "yes" -}}
    {{- $controls = "controls" -}}
  {{- end -}}

  {{- $loop := "" -}}
  {{- if eq ($.Get "loop") "yes" -}}
    {{- $loop = "loop" -}}
  {{- end -}}
  <video src="{{ ($.Get "src") }}" {{ $controls }} {{ $loop }} width="100%"></video>

  {{- with $.Get "caption" }}
    <figcaption>{{ $.Get "caption" }}</figcaption>
  {{- end -}}
  </figure>
{{- else }}
  {{- errorf "The %q shortcode requires a 'src' argument: see %s" .Name .Position }}
{{- end -}}